<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyOrthoOrtho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MyOrthoOrtho.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value>Nouvel Exercice</value>
            </setting>
            <setting name="pitchMin" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="pitchMax" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="intensityThreshold" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="duration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="type" serializeAs="String">
                <value>Droite</value>
            </setting>
            <setting name="f0ExacteEvaluated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="f0StableEvaluated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="courbeF0ExacteEvaluated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntensiteStableEvaluated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JitterEvaluated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DurationEvaluated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="f0ExacteGoodMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="f0ExacteGoodMin" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="f0ExacteOkayMax" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="f0ExacteOkayMin" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="f0ExacteBadMax" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="f0ExacteBadMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="f0StableGoodMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="f0StableGoodMin" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="f0StableOkayMax" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="f0StableOkayMin" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="f0StableBadMax" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="f0StableBadMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="courbeF0ExacteGoodMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="courbeF0ExacteGoodMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="courbeF0ExacteOkayMax" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="courbeF0ExacteOkayMin" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="courbeF0ExacteBadMax" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="courbeF0ExacteBadMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntensiteStableGoodMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IntensiteStableGoodMin" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="IntensiteStableOkayMax" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="IntensiteStableOkayMin" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="IntensiteStableBadMax" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="IntensiteStableBadMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JitterGoodMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="JitterGoodMin" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="JitterOkayMax" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="JitterOkayMin" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="JitterBadMax" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="JitterBadMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DurationGoodMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DurationGoodMin" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="DurationOkayMax" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="DurationOkayMin" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="DurationBadMax" serializeAs="String">
                <value>0.70</value>
            </setting>
            <setting name="DurationBadMin" serializeAs="String">
                <value>0</value>
            </setting>
        </MyOrthoOrtho.Properties.Settings>
    </userSettings>
</configuration>