<Activities>
	<date>2017-10-29T12:11:41.0000</date>
	<Activity>
		<Name>Exercice 1</Name>
		<Exercice_wav_file_name>exercice1.wav</Exercice_wav_file_name>
		<Exercice_praat_results>
			<point>
				<time>1.06</time>
				<frequency>260.840</frequency>
				<pitch>73.367</pitch>
			</point>
			<point>
				<time>1.07</time>
				<frequency>280.913</frequency>
				<pitch>74.072</pitch>
			</point>
			<point>
				<time>1.08</time>
				<frequency>297.349</frequency>
				<pitch>74.434</pitch>
			</point>
			<point>
				<time>1.09</time>
				<frequency>302.200</frequency>
				<pitch>75.319</pitch>
			</point>
			<point>
				<time>1.10</time>
				<frequency>305.220</frequency>
				<pitch>76.170</pitch>
			</point>
			<point>
				<time>1.11</time>
				<frequency>306.357</frequency>
				<pitch>76.731</pitch>
			</point>
			<point>
				<time>1.12</time>
				<frequency>306.457</frequency>
				<pitch>77.065</pitch>
			</point>
		</Exercice_praat_results>
		<Pitch_min>70</Pitch_min>
		<Pitch_max>800</Pitch_max>
		<Intensity_threshold>40</Intensity_threshold>
		<F0_exactEvaluated>true</F0_exactEvaluated>
		<F0_stableEvaluated>true</F0_stableEvaluated>
		<Intensite_stableEvaluated>true</Intensite_stableEvaluated>
		<Duree_exacteEvaluated>true</Duree_exacteEvaluated>
		<Duree_exacte>30</Duree_exacte>
		<JitterEvaluated>true</JitterEvaluated>
		<Courbe_f0_exacteEvaluated>false</Courbe_f0_exacteEvaluated>
	</Activity>
	<Activity>
		<Name>Exercice 2</Name>
		<Exercice_wav_file_name>exercice2.wav</Exercice_wav_file_name>
		<Exercice_praat_results>
			<point>
				<time>1.06</time>
				<frequency>260.840</frequency>
				<pitch>73.367</pitch>
			</point>
			<point>
				<time>1.07</time>
				<frequency>280.913</frequency>
				<pitch>74.072</pitch>
			</point>
			<point>
				<time>1.08</time>
				<frequency>297.349</frequency>
				<pitch>74.434</pitch>
			</point>
			<point>
				<time>1.09</time>
				<frequency>302.200</frequency>
				<pitch>75.319</pitch>
			</point>
			<point>
				<time>1.10</time>
				<frequency>305.220</frequency>
				<pitch>76.170</pitch>
			</point>
			<point>
				<time>1.11</time>
				<frequency>306.357</frequency>
				<pitch>76.731</pitch>
			</point>
			<point>
				<time>1.12</time>
				<frequency>306.457</frequency>
				<pitch>77.065</pitch>
			</point>
		</Exercice_praat_results>
		<Pitch_min>70</Pitch_min>
		<Pitch_max>800</Pitch_max>
		<Intensity_threshold>40</Intensity_threshold>
		<F0_exactEvaluated>false</F0_exactEvaluated>
		<F0_stableEvaluated>false</F0_stableEvaluated>
		<Intensite_stableEvaluated>false</Intensite_stableEvaluated>
		<Duree_exacteEvaluated>false</Duree_exacteEvaluated>
		<Duree_exacte>0</Duree_exacte>
		<JitterEvaluated>false</JitterEvaluated>
		<Courbe_f0_exacteEvaluated>true</Courbe_f0_exacteEvaluated>
	</Activity>
</Activities>